$typography-display1-size: 64px;
$typography-display1-weight: 600;

$typography-h1-size: 32px;
$typography-h1-weight: 600;

$typography-h2-size: 20px;
$typography-h2-weight: 500;

$typography-h3-size: 18px;
$typography-h3-weight: 500;

$typography-h4-size: 12px;
$typography-h4-weight: 500;

$typography-body1-size: 12px;
$typography-body1-weight: normal;

$typography-body2-size: 16px;
$typography-body2-weight: normal;

$typography-subtitle1-size: 10px;
$typography-subtitle1-weight: 500;

:export {
  typographyDisplay1Size: $typography-display1-size;
  typographyDisplay1Weight: $typography-display1-weight;
  typographyH1Size: $typography-h1-size;
  typographyH1Weight: $typography-h1-weight;
  typographyH2Size: $typography-h2-size;
  typographyH2Weight: $typography-h2-weight;
  typographyH3Size: $typography-h3-size;
  typographyH3Weight: $typography-h3-weight;
  typographyH4Size: $typography-h4-size;
  typographyH4Weight: $typography-h4-weight;
  typographyBody1Size: $typography-body1-size;
  typographyBody1Weight: $typography-body1-weight;
  typographyBody2Size: $typography-body2-size;
  typographyBody2Weight: $typography-body2-weight;
  typographySubtitle1Size: $typography-subtitle1-size;
  typographySubtitle1Weight: $typography-subtitle1-weight;
}