$color-primary-main: #0071E3;

$color-background-default: #0D1117;
$color-background-paper: #161B22;
 
:export {
  colorPrimaryMain: $color-primary-main;
  colorBackgroundDefault: $color-background-default;
  colorBackgroundPaper: $color-background-paper;
}